<a href="https://colab.research.google.com/github/marcelcasan/Insper/blob/main/Projeto_AEM2_R.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Projeto Aprendizagem Estatística de Máquina 2

A ideia seria correlacionar as informacoes referentes a IDH (medidas pelos datasets contendo informacoes de educacao, saude e censo) com o que temos sobre o desenvolvimento indrustrial e de comercio dos municipios. Nesse sentido, as nossas medidas de IDH seriam como um eixo Y que é dado em termos de um eixo X (industria e comercio). Queremos vizualizar essa correlacao e gerar clusters que demonstrem isso.

In [ ]:
library(tidyverse)
library(readxl)
library(readr)

── Attaching core tidyverse packages ──────────────────────── tidyverse 2.0.0 ──
✔ dplyr     1.1.4     ✔ readr     2.1.5
✔ forcats   1.0.0     ✔ stringr   1.5.1
✔ ggplot2   3.5.2     ✔ tibble    3.2.1
✔ lubridate 1.9.4     ✔ tidyr     1.3.1
✔ purrr     1.0.4
── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()
ℹ Use the conflicted package (<http://conflicted.r-lib.org/>) to force all conflicts to become errors

**Médicos classificados por tipo - 2024**

Número de médicos classificados por tipo (Sus ou não Sus) para os municípios do Estado de São Paulo

In [ ]:
df_medicos <- read_delim(
  file = "/content/medicos_tipos.csv",
  delim = ";",
  locale = locale(encoding = "Latin1"),
  show_col_types = FALSE
)

ERROR: Error: '/content/medicos_tipos.csv' does not exist.

In [ ]:
head(df_medicos, 5)

ERROR: Error: object 'df_medicos' not found

**Total de leitos por municípios - 2010 a 2024**

Total de leitos por municípios do Estado de São Paulo ─ 2010 a 2024

In [ ]:
df_leitos <- read_delim(
  file = "/content/saude_leitos_mun_ano.csv",
  delim = ";",
  locale = locale(encoding = "Latin1"),
  show_col_types = FALSE
)

In [ ]:
head(df_leitos, 5)

  cod_ibge localidades      periodos leitos_total leitos_hab  leitos sus
1 3500105  Adamantina       2024     195          5,618625022 138
2 3500303  Aguaí            2024      24          0,74941452   24
3 3500501  Águas de Lindóia 2024      42          2,341528684  30
4 3500709  Agudos           2024      54          1,427099025  38
5 3501004  Altinópolis      2024      21          1,244223249  19
  leitos_sus_hab leitos não sus leitos_naosus_hab
1 3,976257708    57             1,642367314
2 0,74941452      0             0
3 1,672520488    12             0,669008195
4 1,004254869    16             0,422844156
5 1,125725797     2             0,118497452

**Número de profissionais por Região de saúde - 2024**

Número de médicos e de enfermeiros por habitante e população por Região de Saúde no Estado de São Paulo

In [ ]:
df_prof <- read_delim(
  file = "/content/prof_reg_saude.csv",
  delim = ";",
  locale = locale(encoding = "Latin1"),
  show_col_types = FALSE
)

In [ ]:
head(df_prof, 5)

  codregsaude enfermeiro médico pop      enf_hab med_hab legmapenf
1 35063         987       1719    303930 325     566     2,50 a 3,25
2 35132        2321       5030    921966 252     546     2,50 a 3,25
3 35051         869       1462    286609 303     510     2,50 a 3,25
4 35016       32386      53817  11429865 283     471     2,50 a 3,25
5 35155        2151       3427    773561 278     443     2,50 a 3,25
  legmapmed
1 4,00 a 5,66
2 4,00 a 5,66
3 4,00 a 5,66
4 4,00 a 5,66
5 4,00 a 5,66

**Estabelecimentos de saúde por municípios - 2024**

Estabelecimentos de saúde classificados segundo tipo de esfera administrativa por municípios do Estado de São Paulo

In [ ]:
df_estabelec <- read_delim(
  file = "/content/estabelecimentos_saude.csv",
  delim = ";",
  locale = locale(encoding = "Latin1"),
  show_col_types = FALSE
)

In [ ]:
head(df_estabelec, 5)

  co_mun  tiposeade           estadual federal municipal particular total_geral
1 3500105 Clínica             NA       NA       3         18         21
2 3500105 Consultório Isolado NA       NA      NA        131        131
3 3500105 Diagnose e Terapia  NA       NA       1         17         18
4 3500105 Hospital            NA       NA      NA          2          2
5 3500105 Outros              NA       NA       3          2          5

In [ ]:
read <- function(filename) {
  # Funcao para leitura especifica dos arquivos na pasta data
  read_delim(sprintf("data/%s", filename), delim=";", locale=locale(encoding="Latin1"))
}

vti_df_raw <- read("basevti_municipios.csv")

ERROR: Error: 'data/basevti_municipios.csv' does not exist in current working directory ('/content').

In [ ]:
head(vti_df_raw, 10)

ERROR: Error: object 'vti_df_raw' not found

In [33]:
read <- function(filename) {
  # Funcao para leitura especifica dos arquivos na pasta data
  read_delim(sprintf("data/%s", filename), delim=";", locale=locale(encoding="Latin1"))
}

pib_df_raw <- read("pib_municipal_2002_2020.csv")
exp_df_raw <- read("valor_das_exportacoes_por_municipio_do_ESP.csv")
vti_df_raw <- read("basevti_municipios.csv")
edu_df_raw <- read("educacaoideb.csv")
sau_df_raw <- read("saude_leitos_mun_ano.csv")

Rows: 85785 Columns: 5
── Column specification ────────────────────────────────────────────────────────
Delimiter: ";"
chr (3): Localidade, Setor, Valor
dbl (2): Cod_Ibge, Ano

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.
Rows: 2326693 Columns: 9
── Column specification ────────────────────────────────────────────────────────
Delimiter: ";"
chr  (4): CO_MES, SH4, CO_PAIS, SG_UF_MUN
dbl  (4): CO_ANO, CO_MUN, KG_LIQUIDO, VALOR_FOB
dttm (1): Data

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.
Rows: 294120 Columns: 7
── Column specification ────────────────────────────────────────────────────────
Delimiter: ";"
chr (4): município, setor,  vti_milreais,  vti_milreais2021
dbl (2): cod municipio, ano
num (1): cod setor

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.
Rows: 4380 Columns: 13
── Column specification ────────────────────────────────────────────────────────
Delimiter: ";"
chr (3): Localidade, Rede, Anos
dbl (1): Cod
num (9): IDEB 2015, IDEB 2017, IDEB 2019, IDEB 2021, IDEB 2023, Meta  2015, ...

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.
Rows: 9097 Columns: 9
── Column specification ────────────────────────────────────────────────────────
Delimiter: ";"
chr (4): localidades, leitos_hab, leitos_sus_hab, leitos_naosus_hab
dbl (5): cod_ibge, periodos, leitos_total, leitos sus, leitos não sus

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

In [7]:
library(rlang)

# A ideia é criar variaveis que capturem a evolução temporal pela qual cada município passou na variável de interesse.
# Ao fim pretendemos obter uma única linha para cada município.
# Cada variável gerará um novo conjunto de valores, a saber:
# - quartis da distribuição: 25%, 50%, 75%, 90%
# - média
# - desvio padrão
# - soma total
# Outro ponto de interesse poderia ser criar colunas que revelassem o valor cumulativo até determinado ponto temporal. ex:
# - valor cumulativo do VTI até 50% do tempo disponibilizado, valor cumulativo VTI até 75% do tempo disponibilizado e etc.

column_statistics <- function(df, col, group_cols, wider = TRUE) {
  col <- ensym(col)
  col_name <- as_string(col)

  result <- df %>%
    group_by(!!!syms(group_cols)) %>%
    summarise(
      "{col_name}_25" := quantile(!!col, 0.25, na.rm = TRUE),
      "{col_name}_50" := quantile(!!col, 0.50, na.rm = TRUE),
      "{col_name}_75" := quantile(!!col, 0.75, na.rm = TRUE),
      "{col_name}_90" := quantile(!!col, 0.90, na.rm = TRUE),
      "{col_name}_mean" := mean(!!col, na.rm = TRUE),
      "{col_name}_std" := sd(!!col, na.rm = TRUE),
      "{col_name}_sum" := sum(!!col, na.rm = TRUE),
      .groups = "drop"
    )

  # Aplica pivot_wider() apenas se wider = TRUE e houver mais de uma coluna de agrupamento
  if (wider && length(group_cols) > 1) {
    result <- result %>%
      pivot_wider(
        id_cols = all_of(group_cols[1]),
        names_from = all_of(group_cols[-1]),
        values_from = starts_with(col_name),
        names_glue = "setor_{cod_setor}_{.value}"
      )
  }

  # Substitui NA e NaN por 0
  result <- result %>%
    mutate(across(everything(), ~ replace(., is.na(.) | is.nan(.), 0)))

  return(result)
}

Attaching package: ‘rlang’


The following objects are masked from ‘package:purrr’:

    %@%, flatten, flatten_chr, flatten_dbl, flatten_int, flatten_lgl,
    flatten_raw, invoke, splice

## Dados de Valor de Transformação Industrial

https://repositorio.seade.gov.br/dataset/seade-industria

In [47]:
# Aqui estamos trabalhando com o VTI (valor de transformação industrial) e no intervalo de tempo dado calculamos (as operações):
# NOTA: as agregações do VTI estão em termos de cada setor sob análise.
# Assim, leia-se: setor_<cod_setor>_vti_<operacao> (ex: setor_10_vti_25, quartil de 25% do vti no setor 10).

vti_df_prep <- vti_df_raw %>%
  transmute(
    cod_municipio=`cod municipio`,
    ano,
    vti=as.numeric(gsub(",", ".", ` vti_milreais`))*1000
  )

vti_df <- column_statistics(vti_df_prep, vti, c("cod_municipio"))
vti_df %>% head(10)

   cod_municipio vti_25   vti_50  vti_75   vti_90    vti_mean     vti_std
1  3500105       123200.0 1095260 15642245  37443342 1.544425e+07 3.920283e+07
2  3500204            0.0       0        0         0 0.000000e+00 0.000000e+00
3  3500303       660792.5 3954765 15548948  95812840 2.184789e+07 4.006342e+07
4  3500402        33460.0  813000  2850960  12502680 3.447962e+06 5.460411e+06
5  3500501       159900.0 2635780  6901320  12987276 4.357546e+06 5.478619e+06
6  3500550       645445.0 3513825  5210262   8060988 4.043013e+06 5.006163e+06
7  3500600            5.0      10       35        50 2.333333e+01 3.214550e+01
8  3500709        31292.5 1917530 14218145 482981970 1.024507e+08 2.203586e+08
9  3500758       526170.0 2528510  3573275   4753258 2.545182e+06 2.370814e+06
10 3500808       102620.0 8276490 19966860  27470516 1.098990e+07 1.343922e+07
   vti_sum
1   2888074220
2            0
3   3015008350
4    210325690
5    248380130
6     97032310
7           70
8  18236225890
9     48358450
10   186828240

In [48]:
vti_df_prep %>% head()

  cod_municipio ano  vti
1 3500105       2003 8447500
2 3500204       2003      NA
3 3500303       2003 1958440
4 3500402       2003  370410
5 3500501       2003  130550
6 3500550       2003      NA

## Dados de PIB Municipal

https://repositorio.seade.gov.br/dataset/pib-municipal-2002-2020

In [27]:
pib_df_prep %>% head()

  ano  cod_municipio pib
1 2020 3500105       1256561606
2 2020 3500204        136701363
3 2020 3500303       1152443311
4 2020 3500402        186768100
5 2020 3500501        496876915
6 2020 3500550        200526489

In [12]:
pib_df_prep <- pib_df_raw %>%
  filter(Setor == "PIB") %>%
  transmute(
    ano =Ano,
    cod_municipio=Cod_Ibge,
    pib=as.numeric(gsub("\\.", "", gsub("R\\$\\s*", "", Valor)))
  )

pib_df <- column_statistics(pib_df_prep, pib, c("cod_municipio"), wider=FALSE)
pib_df %>% head(10)

   cod_municipio pib_25    pib_50     pib_75     pib_90     pib_mean
1  3500105       479619778  683689223 1010399754 1094954723  723000422
2  3500204        49390214   65982041   84302147  103230618   68078851
3  3500303       469084776  573701851  832843378  987435389  639862753
4  3500402        50829506   96964454  136826988  167896540   98814831
5  3500501       162667004  267588596  455312394  491745877  295264746
6  3500550        60647537  114127096  144809176  168383145  108062025
7  3500600        49535298   71429274  122665220  136323724   85213660
8  3500709       916413208 1742627417 2076952300 2223883326 1534499093
9  3500758        42765394   61384825   88345732  103358515   65024474
10 3500808        24160752   38980278   75794702   83867055   50717163
   pib_std   pib_sum
1  310597392 13737008017
2   29255981  1293498170
3  262310590 12157392298
4   50857447  1877481798
5  150449662  5610030171
6   49424565  2053178468
7   39196033  1619059544
8  682372880 29155482762
9   29206930  1235465010
10  29295348   963626101

## Dados de Exportação

https://repositorio.seade.gov.br/dataset/comercio-exterior

In [13]:
exp_df_prep <- exp_df_raw %>%
  group_by(CO_MUN, CO_ANO) %>%
  summarise(exp=sum(VALOR_FOB), .groups = "drop") %>%
  select(
    ano=CO_ANO,
    cod_municipio=CO_MUN,
    exp
  )

exp_df <- column_statistics(exp_df_prep, exp, c("cod_municipio"), wider=FALSE)
exp_df %>% head(10)

   cod_municipio exp_25      exp_50   exp_75   exp_90     exp_mean
1  1100015         119158.00   424981   657014   923033.6   465961.00
2  1100023        4533642.00  5425779  5770860  7809213.0  5675968.00
3  1100049          90038.00   296989  4799660  7782333.8  3008768.20
4  1100056          26064.75    34966    52269    72792.6    43367.75
5  1100080          33654.00    33654    33654    33654.0    33654.00
6  1100098        1279856.00  2016172  2159132  2676198.8  1729154.40
7  1100106        5955406.00  6428817  6926681  7226516.0  5794816.20
8  1100114        1584257.00  2941276  5877646  6761846.8  3599023.80
9  1100122       21841837.00 23810396 25204600 26310164.2 21055135.40
10 1100130        1290174.00  1339097  1882246  3003964.6  1863391.20
   exp_std    exp_sum
1   433737.26   2329805
2  2144034.40  28379840
3  4282092.81  15043841
4    30336.69    173471
5        0.00     33654
6  1068837.36   8645772
7  2063409.49  28974081
8  2959837.58  17995119
9  7883074.71 105275677
10 1098348.78   9316956

In [50]:
exp_df_prep %>% head()

  ano  cod_municipio exp
1 2000 1100015         28272
2 2001 1100015        119158
3 2002 1100015        657014
4 2003 1100015       1100380
5 2004 1100015        424981
6 2000 1100023       5425779

In [68]:
distinct_anos <- exp_df_prep %>%
  distinct(ano)
distinct_anos

  ano
1 2000
2 2001
3 2002
4 2003
5 2004
6 2005

## Dados de Educação

https://repositorio.seade.gov.br/dataset/educacao-basica-painel

In [63]:
edu_df_prep <- edu_df_raw %>%
  pivot_longer(
    cols = starts_with("IDEB"),
    names_to = "IDEB_Year",
    values_to = "IDEB"
  ) %>%
  select(Cod, Anos, IDEB_Year, IDEB)


# Assuming your dataframe is called df
edu_df_prep <- edu_df_prep %>%
  mutate(IDEB_Year = str_remove(IDEB_Year, "IDEB\\s")) %>%  # remove 'IDEB ' prefix
  group_by(Cod, IDEB_Year) %>%
  summarise(IDEB_Media = round(mean(IDEB, na.rm = TRUE),1), .groups = 'drop') %>% # calculate mean
  rename(cod_municipio = Cod) %>%
  rename(ano = IDEB_Year)

# Mudando o tipo da coluna 'ano' para numérico
edu_df_prep$ano <- as.numeric(edu_df_prep$ano)

edu_df_prep %>% head()

  cod_municipio ano  IDEB_Media
1 3500105       2015 35.5
2 3500105       2017 54.0
3 3500105       2019 56.3
4 3500105       2021 54.0
5 3500105       2023 55.3
6 3500204       2015 53.0

In [59]:
str(edu_df_prep)

tibble [3,230 × 3] (S3: tbl_df/tbl/data.frame)
 $ cod_municipio: num [1:3230] 3500105 3500105 3500105 3500105 3500105 ...
 $ ano          : num [1:3230] 2015 2017 2019 2021 2023 ...
 $ IDEB_Media   : num [1:3230] 35.5 54 56.3 54 55.3 53 53 51.3 53.7 58.3 ...

In [26]:
# Estatísticas de educação
edu_df <- column_statistics(edu_df_prep, IDEB_Media, c("cod_municipio"), wider=FALSE)
edu_df %>% head()

  cod_municipio IDEB_Media_25 IDEB_Media_50 IDEB_Media_75 IDEB_Media_90
1 3500105       54.0          54.0          55.3          55.90
2 3500204       53.0          53.0          53.7          56.46
3 3500303       36.0          49.6          51.3          51.42
4 3500402       56.7          57.0          57.0          57.90
5 3500501       49.5          51.6          52.8          55.14
6 3500550       55.0          57.3          60.5          62.30
  IDEB_Media_mean IDEB_Media_std IDEB_Media_sum
1 51.02           8.729662       255.1
2 53.86           2.634957       269.3
3 44.66           8.448846       223.3
4 56.70           1.514926       283.5
5 51.30           3.996874       256.5
6 58.20           3.764306       291.0

## Dados de Saúde

https://repositorio.seade.gov.br/dataset/saude-painel

In [34]:
sau_df_raw %>%head()

  cod_ibge localidades      periodos leitos_total leitos_hab    leitos sus
1 3500105  Adamantina       2024     195          5,618,625,022 138
2 3500303  Aguaí            2024      24          0,74941452     24
3 3500501  Águas de Lindóia 2024      42          2,341,528,684  30
4 3500709  Agudos           2024      54          1,427,099,025  38
5 3501004  Altinópolis      2024      21          1,244,223,249  19
6 3501103  Alto Alegre      2024      22          5,790,997,631  19
  leitos_sus_hab leitos não sus leitos_naosus_hab
1 3,976,257,708  57             1,642,367,314
2 0,74941452      0             0
3 1,672,520,488  12             0,669008195
4 1,004,254,869  16             0,422844156
5 1,125,725,797   2             0,118497452
6 5,001,316,136   3             0,789681495

In [35]:
sau_df_prep <- sau_df_raw %>%
  group_by(cod_ibge,periodos) %>%
  summarise(leitos_total = sum(leitos_total, na.rm = TRUE)) %>%
  rename(cod_municipio = cod_ibge) %>%
  rename(ano = periodos)

sau_df_prep %>% head()

`summarise()` has grouped output by 'cod_ibge'. You can override using the
`.groups` argument.

  cod_municipio ano  leitos_total
1 3500105       2010 308
2 3500105       2011 308
3 3500105       2012 300
4 3500105       2013 284
5 3500105       2014 279
6 3500105       2015 279

In [37]:
# Estatísticas de saúde
sau_df <- column_statistics(sau_df_prep, leitos_total, c("cod_municipio"), wider=FALSE)
sau_df %>% head()

  cod_municipio leitos_total_25 leitos_total_50 leitos_total_75 leitos_total_90
1 3500105       235             258             281.5           304.8
2 3500204         0               0               0.0             0.0
3 3500303         0              10              24.0            76.0
4 3500402         0               0               0.0             0.0
5 3500501        42              42              42.0            42.0
6 3500550         0               0               0.0             0.0
  leitos_total_mean leitos_total_std leitos_total_sum
1 257.9333          37.470878        3869
2   0.0000           0.000000           0
3  22.0000          29.393877         330
4   0.0000           0.000000           0
5  40.4000           4.222389         606
6   0.0000           0.000000           0

## Análise Exploratória

In [65]:
joined_df = left_join(pib_df_prep, vti_df_prep , by = c("cod_municipio","ano"))
joined_df = left_join(joined_df, exp_df_prep , by = c("cod_municipio","ano"))
joined_df = left_join(joined_df, edu_df_prep , by = c("cod_municipio","ano"))
joined_df = left_join(joined_df, sau_df_prep , by = c("cod_municipio","ano"))
joined_df = left_join(joined_df, edu_df_prep , by = c("cod_municipio","ano"))

joined_df <- joined_df %>%
  filter(ano < 2020)

joined_df %>% head()

  ano  cod_municipio pib        vti      exp IDEB_Media.x leitos_total
1 2019 3500105       1191133832 23901120 NA  56.3         235
2 2019 3500105       1191133832       NA NA  56.3         235
3 2019 3500105       1191133832       NA NA  56.3         235
4 2019 3500105       1191133832 15442920 NA  56.3         235
5 2019 3500105       1191133832       NA NA  56.3         235
6 2019 3500105       1191133832       NA NA  56.3         235
  IDEB_Media.y
1 56.3
2 56.3
3 56.3
4 56.3
5 56.3
6 56.3